<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/principal-fragment}">
<div class="content" layout:fragment="content">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Lista de equipes</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Equipe</th>
                            <th scope="col">Cor</th>
                            <th scope="col">Jogadores</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="e : ${equipes}">
                                <td>[[${e.eqNome}]]</td>
                                <td>[[${e.eqCor}]]</td>
                                <td>[[${e.getJogadores().size()}]]</td>
                                <td><a th:href="@{/equipes/detalhes(id=${e.eqId})}">Detalhes</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <td colspan="4">Listagem de todas as equipes por ordem alfabética</td>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary float-right" th:href="@{/equipes/list}">Nova equipe</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="javascript">
    $(document).ready(function() {
        loadDataTable();
    });
</script>
</html>