<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/principal-fragment}">
<div class="content" layout:fragment="content">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Lista de jogadores</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Jogador</th>
                                <th scope="col">Equipe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <td>Listagem de todos os jogadores por ordem alfabética</td>
                </div>
            </div>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
</html>